.search-button, .mic
,.upload-icon-container,
.notifications-icon-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.search-button .tooltip,
.mic .tooltip,
.upload-icon-container .tooltip,
.notifications-icon-container .tooltip{
  font-family: Roboto, Arial;
  position: absolute;
  background-color: gray;
  color: white;
  padding-top:4px;
  padding-bottom: 4px;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}
.search-button:hover .tooltip,
.mic:hover .tooltip,
.upload-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip{
  opacity: 1;
}



.sidebar{
  position: fixed;
  left:0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 72px;
  z-index:200;
  padding-top: 5px;
}
.sidebar-link{
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.sidebar-link:hover{
  background-color:rgb(235, 235, 235);
}
.sidebar-link img{
  height: 24px;
  margin-bottom: 10px;
}
.sidebar-link div{
  font-family: Roboto, Arial;
  font-size: 10px;
}